# Node.js
node_modules/

# npm debug log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# build output
build/
dist/

# React
/.vscode/
/public/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
logs/
*.log
*.log.*

# Package distribution files
*.tgz
*.tar.gz

# IDE/editor files
.idea/
*.sublime-workspace
*.sublime-project

# VS Code settings
.vscode/

# Optional npm package files
package-lock.json
yarn.lock
